@using TestLibrary.Helpers;
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <form asp-action="Logout" asp-controller="Account" method="post">
        <a asp-action="Index" asp-controller="Account" class="text-decoration-none"> <span class="fw-bold">Welcome back @User.GetName()</span></a>
        <button class="btn btn-outline-danger" type="submit">Sign out</button>
    </form>
}
else
{
    <form>
        <a class="btn btn-outline-dark" asp-action="Login" asp-controller="Account">Login now</a>
        <a class="btn btn-outline-success" asp-action="Register" asp-controller="Account">Register</a>
    </form>

}